/* ==========================================================================
   Footer - Main footer
   ========================================================================== */

/* General
   ========================================================================== */

footer {
    background: $brand-primary;
    color: $brand-on-primary;
    * {
        color: $brand-on-primary;
    }
    a {
        text-decoration: none;
        &:hover {
            color: $brand-on-primary;
            text-decoration: underline;
        }
    }
    h6 {
        font-weight: bold;
        text-transform: none;
    }
    ul, li {
        margin: 0px;
        padding: 0px;
    }
    li {
        list-style: none;
        font-size: $base-font-size;
    }
    @if ($site-fullscreen == false) {
      max-width: $site-max-width + ((($container-padding-desktop / 100) * $site-max-width) * 2);
      margin: 0 auto;
    }
}

.main-footer {
    padding: .5em 0px .5em 0px;
    overflow: hidden;
    @include site-max-width-container((inner-padding:  false));
}

.footer__column {
  @include column-span(12);
  padding-bottom: 0px;
  > *:first-child { margin-top: 0px;  }
  @media(min-width: $tablet) {
    @include column-span(6);
  }
}

.footer-nav {
  &:first-child h6 {
    margin-top: 0px;
  }
}