<footer role="footer" class="footer">
    <section class="main-footer">
            <div class="footer__column footer__column--left">
                <h6>Over Citynavigator</h6>
                <p>Phasellus vel sodales nisl, tristique efficitur dui. Maecenas posuere rhoncus vehicula. Morbi quis ex felis. In tempus urna non commodo iaculis. Nam vitae semper turpis. Vestibulum eu imperdiet magna, ut ullamcorper velit. Donec sapien enim, rutrum non accumsan ac, consectetur non dolor. Nunc lacinia, leo eu eleifend porttitor.</p>
            </div>

            {# Main footer #}
            {% if nodemenu is defined %}
                <div class="footer__column footer__column--right">
                {# Footer navigation #}
                {% set activeSubnode = nodemenu.getActiveForDepth(1) %}
                {% if activeSubnode %}
                    {% for node in activeSubnode.children %}
                        {% if not node.node.isHiddenFromNav() and node.node.internalName != 'contact' %}
                            <nav class="footer-nav">
                                <h6 class="footer-nav__title">
                                    <a href="{{ path('_slug', { 'url': node.slug }) }}" class="footer-nav__title__link">{{ node.title }}</a>
                                </h6>

                                {% if node.children|length>0 %}
                                    <ul>
                                        {% if node.node.internalName == 'article_overview_page' %}
                                            {% for node2 in node.children %}
                                                {% if loop.index < 4 %}
                                                    {% if node2.title|length > 40 %}
                                                        {% set ltitle = node2.title[:40] ~ '...' %}
                                                    {% else %}
                                                        {% set ltitle = node2.title %}
                                                    {% endif %}

                                                    <li><a href="{{ path('_slug', { 'url': node2.slug }) }}" class="footer-nav__item{% if(node2.active) %} footer-nav__item--active{% endif %}">
                                                        {{ ltitle }}
                                                    </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for node2 in node.children | slice(0, 3) %}
                                                {% if not node2.node.isHiddenFromNav() %}
                                                    <li><a href="{{ path('_slug', { 'url': node2.slug }) }}" class="footer-nav__item{% if(node2.active) %} footer-nav__item--active{% endif %}">
                                                        {{ node2.title }}
                                                    </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </nav>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
            {% endif %}
    </section>

    {# Sub-footer #}
    <section class="sub-footer">
        <div class="container-fluid">
            <div class="sub-footer__inner">
                <p class="sub-footer__info">
                    &copy; {{ "now"|date("Y") }} Citynavigator
                    {% if nodemenu is defined %}
                        {% set sitemap = nodemenu.getNodeByInternalName('sitemap') %}
                        {% if (sitemap != null and sitemap.online) %}- <a href="{{ path('_slug', { 'url': sitemap.slug }) }}" class="sub-footer__info__link">{{ sitemap.title }}</a>{% endif %}
                    {% endif %}
                </p>
                {# Social nav #}
                {% include 'demoWebsiteBundle:Layout:_social-icons.html.twig' %}
            </div>
        </div>
    </section>
</footer>
