{# Default header #}
{% if nodemenu is defined %}
    <header role="header" class="main-header navigation-is-closed">
        <div class="container-fluid">

            {# Logo #}
            {% set homepagePageNode = nodemenu.getNodeByInternalName('homepage') %}
            <a href="{{ path('_slug', { 'url': homepagePageNode.slug }) }}" class="main-header__logo">
                <img src="/frontend/img/general/logo.png" alt="{{ websitetitle }}" class="main-header__logo__img">
            </a>

            {# Handles #}
            <ul class="handles">
                <li class="handles__item handles__item--navigation-open">
                    <a href="#" class="handles__link">
                        <i class="handles__icon"></i>
                        <span class="handles__name">{{ "Menu"|trans }}</span>
                    </a>
                </li>
                <li class="handles__item handles__item--navigation-close">
                    <a href="#" class="handles__link">
                        <i class="handles__icon"></i>
                        <span class="handles__name">{{ "Close"|trans }}</span>
                    </a>
                </li>
                {% set searchPageNode = nodemenu.getNodeByInternalName('search') %}
                {% if searchPageNode %}
                <li class="handles__item handles__item--search">
                    <a href="{{ path('_slug', { 'url': searchPageNode.slug }) }}" class="handles__link">
                        <i class="handles__icon"></i>
                        <span class="handles__name">{{ "Search"|trans }}</span>
                    </a>
                </li>
                {% endif %}
            </ul>

            {# Main navigation #}
            {% set activeSubnode = nodemenu.getActiveForDepth(1) %}
            {% if activeSubnode %}
            <nav role="navigation" class="main-header__nav main-nav is-closed">
                <ul class="menu">
                {% for node in activeSubnode.children %}
                    {% if not node.node.isHiddenFromNav() %}
                        <li><a href="{{ path('_slug', { 'url': node.slug }) }}" class="main-nav__link{% if(node.children) %} main-nav__link--has-children{% endif %}{% if(node.active) %} main-nav__link--active{% endif %}">
                                {{ node.title }}
                            </a>
                            {% if node.children %}
                                <ul class="menu__children">
                                {% for childNode in node.children %}
                                    {% if not childNode.node.isHiddenFromNav() %}
                                        <li><a href="{{ path('_slug', { 'url': childNode.slug }) }}" class="main-nav__link {% if(childNode.active) %}main-nav__link--active{% endif %}">
                                            {{ childNode.title }}
                                        </a></li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
            {% endif %}

            {# Language nav #}
            {% if requiredlocales is defined %}
                {% set langs = requiredlocales|split('|') %}
                {% if langs|length> 0 %}
                    <div class="language-nav">
                        <span class="separator"></span>
                        <span class="language-nav__item language-nav__item--{{ app.request.locale }} language-nav__active-lang">
                            <span class="language-nav__text">{{ app.request.locale }}</span>
                        </span>
                        <nav role="navigation">
                            {% for lang in langs %}
                            {% if lang != app.request.locale %}
                                {% set url = get_translation_url(nodemenu.current, lang) %}
                                {% if url %}
                                <a href="{{ url }}" class="language-nav__item language-nav__item--{{ lang }} language-nav__link">
                                    <span class="language-nav__text">{{ lang }}</span>
                                </a>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </nav>
                    </div>
                {% endif %}
            {% endif %}

            {# Social nav #}
            {#{% include 'demoWebsiteBundle:Layout:_social-icons.html.twig' %}#}
        </div>
    </header>
{% endif %}