<!-- inject:js -->
<!-- endinject -->
{% if addthis_pub_id is defined and addthis_pub_id is not empty %}
    <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid={{ addthis_pub_id }}"></script>
{% endif %}
