<div class="social-nav">
    <ul>
        <li class="social-nav__item social-nav__item--facebook">
            <a href="#" class="social-nav__link">
                <i class="social-nav__icon"></i>
                <span class="social-nav__name">Facebook</span>
            </a>
        </li>
        <li class="social-nav__item social-nav__item--youtube">
            <a href="#" class="social-nav__link">
                <i class="social-nav__icon"></i>
                <span class="social-nav__name">YouTube</span>
            </a>
        </li>
        <li class="social-nav__item social-nav__item--twitter">
            <a href="#" class="social-nav__link">
                <i class="social-nav__icon"></i>
                <span class="social-nav__name">Twitter</span>
            </a>
        </li>
        <li class="social-nav__item social-nav__item--pinterest">
            <a href="#" class="social-nav__link">
                <i class="social-nav__icon"></i>
                <span class="social-nav__name">Pinterest</span>
            </a>
        </li>
    </ul>
</div>