<!DOCTYPE html>
{% set htmlLocale = app.request.locale|default(defaultlocale)|slice(0,2) %}
{% set node = null %}
{% if nodetranslation is defined %}
    {% set node = nodetranslation.node %}
{% endif %}
{% set nodemenu = get_node_menu(app.request.locale, node) %}
<!--[if lte IE 9]> <html class="no-js lt-ie9" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="{{ htmlLocale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">

    <title>
    {% block title %}{% if page is defined and nodemenu.getActiveForDepth(2) is not null %}{{ get_title_for(page) }} | {% endif %}{% endblock %}{{ websitetitle | trans }}
    </title>

    {% if page is defined %}
        {{ render_seo_metadata_for(page) }}
    {% endif %}

    {# Favicons #}
    {% include 'demoWebsiteBundle:Layout:_favicons.html.twig' %}

    {# Webfonts #}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800" rel="stylesheet">

    {# CSS #}
    {% include 'demoWebsiteBundle:Layout:_css.html.twig' %}

    {# JS #}
    {% include 'demoWebsiteBundle:Layout:_js_header.html.twig' %}
</head>

<body id="sidebar-toggle-container" class="sidebar-toggle-container{% block extra_body_classes %}{% endblock %}" {% block extra_body_attributes %}{% endblock %}>
    {# Google Tagmanager #}
    {% include 'demoWebsiteBundle:Layout:_googletagmanager.html.twig' %}

    {# Outdated browser message #}
    {#{% include 'demoWebsiteBundle:Layout:_outdatedbrowser.html.twig' %}#}

    {# Header #}
    {% block header %}
        {% include 'demoWebsiteBundle:Layout:_header.html.twig' %}
    {% endblock %}

    {# Breadcrumbs #}
    {% block breadcrumbs %}
        {% include 'demoWebsiteBundle:Layout:_breadcrumbs.html.twig' %}
    {% endblock %}

    {# Content #}
    <main role="main">
        {% block content %}{% endblock %}
    </main>

    {# Footer #}
    {% block footer %}
        {% include 'demoWebsiteBundle:Layout:_footer.html.twig' %}
    {% endblock %}

    {# Cookieconsent #}
    {% block cookieconsent %}
        {#{% include 'demoWebsiteBundle:Layout:_cookieconsent.html.twig' %}#}
    {% endblock %}

    {# JS Footer #}
    {% include 'demoWebsiteBundle:Layout:_js_footer.html.twig' %}

    {# Google Analytics #}
    {% include 'demoWebsiteBundle:Layout:_googleanalytics.html.twig' %}
</body>
</html>
