{% extends 'demoWebsiteBundle:Layout:layout.html.twig' %}

{% block title %} - {{ status_code }} - {{ status_text }} - {{ websitetitle }}{% endblock %}

{% block content %}
<div class="container-wide container-error-container">
{% if app.request.locale == 'nl' %}
    {% if status_code == 404 %}
        <h1>Pagina niet gevonden</h1>
        <p>De opgevraagde pagina bestaat niet.</p>
        <p><a href="/" class="btn">Naar homepage</a></p>
    {% else %}
        <h1>Er is een serverfout opgetreden</h1
        <p>Reden: "{{ status_code }} {{ status_text }}".</p>
    {% endif %}
{% else %}
    {% if status_code == 404 %}
        <h1>Page not found</h1>
        <p>The page you requested could not be found.</p>
        <p><a href="/">To homepage</a></p>
    {% else %}
        <h1>Sorry, an error has occurred</h1
        <p>The server returned a "{{ status_code }} {{ status_text }}".</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
