/* ==========================================================================
   Blocks - Buttons
   ========================================================================== */

/* General
   ========================================================================== */

.btn {
  @include button((
      background: $brand-tertiary,
      color: $brand-on-tertiary,
      background-hover: $brand-tertiary-hover,
      color-hover: $brand-on-tertiary-hover
  ));
}


/* Types
   ========================================================================== */
// Small
.btn--small {
  @include button((
    background: $brand-tertiary,
    color: $brand-on-tertiary,
    background-hover: $brand-tertiary-hover,
    color-hover: $brand-on-tertiary-hover,
    font-size: 12px
  ));
}

// Disabled
.btn--disabled {
  @include button((
    background: $brand-quinary,
    color: $brand-on-quinary,
    background-hover: $brand-quinary,
    color-hover: $brand-on-quinary,
  ));
}

// Disabled small
.btn--disabled.btn--small {
  @include button((
    background: $brand-quinary,
    color: $brand-on-quinary,
    background-hover: $brand-quinary,
    color-hover: $brand-on-quinary,
    font-size: 12px
  ));
}

// Secondary
.btn--secondary {
  @include button((
    background: $brand-on-quaternary,
    color: $brand-quaternary,
    background-hover: $brand-on-quaternary-hover,
    color-hover: $brand-quaternary-hover,
  ));
}

// Secondary small
.btn--secondary.btn--small {
  @include button((
    background: $brand-on-quaternary,
    color: $brand-quaternary,
    background-hover: $brand-on-quaternary-hover,
    color-hover: $brand-quaternary-hover,
    font-size: 12px
  ));
}

/*doc
---
title: Buttons
name: 01_buttons
category: Blocks
---

<strong>General</strong>

```html_example
<button type="button" class="btn">
    Primary
</button>
```

<strong>Types</strong>

```html_example
<button type="button" class="btn">
    Primary
</button>

<button type="button" class="btn btn--small">
    Primary Small
</button>

<button type="button" class="btn btn--disabled">
    Disabled
</button>

<button type="button" class="btn btn--disabled btn--small">
    Disabled Small
</button>

<button type="button" class="btn btn--secondary">
    Secondary
</button>

<button type="button" class="btn btn--secondary btn--small">
    Secondary Small
</button>


```
*/
