@mixin _pager__item--normal($pager-background) {
  width: $base-line-height;
  height: $base-line-height;
  background-color: $pager-background;
}

@mixin _pager__item--hovered($pager-background-active, $pager-color-active) {
  background-color: $pager-background-active;
  color: $pager-color-active;
}

/// Pager styles
@mixin pager($custom-properties: ()) {

  $default-properties: (
    color:                $brand-primary,
    color-active:         $brand-on-primary,
    background:           transparent,
    background-active:    $brand-primary,
    style:                "rounded", // options: rounded | square (default)
    prevnext-style:       "icons" // options: text | icons | both (default)
  );

  $properties: map-merge($default-properties, $custom-properties);

  @include clearfix();
  @include inline-block-list(2px);
  padding-top: $base-line-height;
  padding-bottom: $base-line-height;
  text-align: center !important;
  .pager__item {
    a, > span {
      text-decoration: none;
      outline: none;
      display: block;
      height: $base-line-height - 1px;
      line-height: $base-line-height;
      color: map-deep-get($properties, color);
    }
    &.pager__item--number, &.pager__item--dots {
      a, > span {
        @include _pager__item--normal(map-deep-get($properties, background));
      }
      &:hover, &.pager__item--current {
        a, > span {
          @include _pager__item--hovered(map-deep-get($properties, background-active), map-deep-get($properties, color-active));
        }
      }
    }
    &.pager__item--number {}
    &.pager__item--dots {
      &:hover {
        a, > span {
          background-color: transparent;
          color: map-deep-get($properties, color);
        }
      }
    }
    &.pager__item--previous {}
    &.pager__item--next {}
  }
  @if map-deep-get($properties, style) == "rounded" {
    .pager__item {
      a, > span {
        @include border-radius($base-line-height);
      }
    }
  }
  @else {
    .pager__item {
      a, > span {
        @include border-radius(0px);
      }
    }
  }
  @if map-deep-get($properties, prevnext-style) == "text" or map-deep-get($properties, prevnext-style) == "both" {
    .pager__item--previous, .pager__item--next {
      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }
  @if map-deep-get($properties, prevnext-style) == "both" or map-deep-get($properties, prevnext-style) == "icons" {
    .pager__item--previous {
      .icon-odp {
        @extend .icon-ui-fill-chevron-left;
        // @include icon-ui(chevron-left);
      }
    }
    .pager__item--next {
      .icon-odp {
        @extend .icon-ui-fill-chevron-right;
        // @include icon-ui(chevron-right);
      }
      a, > span {
        span { float: left; }
      }
    }
  }
  @if map-deep-get($properties, prevnext-style) == "both" {
    .pager__item--previous {
      a:before { margin-right: 10px; }
    }
    .pager__item--next {
      a:before { margin-left: 10px; }
    }
  }
  @if map-deep-get($properties, prevnext-style) == "icons" {
    .pager__item--previous, .pager__item--next {
      a {
        display: block;
        overflow: hidden;
        text-align: center;
        @include _pager__item--normal(map-deep-get($properties, background));
        span { display: none; }
      }
      &:hover a {
        @include _pager__item--hovered(map-deep-get($properties, background-active), map-deep-get($properties, color-active));
      }
    }
  }
}

.pager {
  @include pager();
}