{% extends 'demoWebsiteBundle:Page:layout.html.twig' %}

{# Extra body classes #}
{% block extra_body_classes %} homepage{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}{% endblock %}

{# Content #}
{% block content %}
    {{ render_pagetemplate(page) }}
{% endblock %}

