/* ==========================================================================
   Forms - Form control
   ========================================================================== */

$form-border-color:       #ccc;
$form-border-color-focus: $brand-primary;

/* General
   ========================================================================== */
.form-horizontal {
  .btn {
    margin: 1.5em 0;
  }
}

.form-control {
  display: block;
  width: 100%;
  max-width: 26rem;
  padding: 0.4em 1em;
  border: 0;
  background-color: transparent;
  &:focus {
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    @include transition(all ease-in-out .25s);
  }
}

/* Input
   ========================================================================== */
.form-control--input {
  border: 1px solid $form-border-color;
  &:focus {
    border-color: $form-border-color-focus;
  }
}

/* Textarea
   ========================================================================== */
.form-control--textarea {
  max-width: 52rem;
  border: 1px solid $form-border-color;
  padding: 0.5em 1em;
  &:focus {
    border-color: $form-border-color-focus;
  }
}

/* Select
   ========================================================================== */
.form-control--select {
  border: 1px solid $form-border-color;
  &[multiple] {
    padding: 0.4em 0;
  }
  &:focus {
    border-color: $form-border-color-focus;
  }
}


/*doc
---
title: Form Control
name: 02_form-control
category: Forms
---

<strong>Input</strong>

```html_example
<input type="text" id="fc1" name="fc1" class="form-control form-control--input">
```

<strong>Textarea</strong>

```html_example
<textarea id="fc2" name="fc2" class="form-control form-control--textarea"></textarea>
```

<strong>Select</strong>

```html_example
<select id="fc3" name="fc3" class="form-control form-control--select">
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>
```

*/
