/* ==========================================================================
   Forms - Form control label
   ========================================================================== */


/* General
   ========================================================================== */
.form-control-label {

}

.form-control-label--required {
  &:after {
    content: " * ";
    opacity: 0.75;
  }
}

/*doc
---
title: Label
name: 03_label
category: Forms
---


```html_example
<label class="form-control-label">
    Name
</label>
```
*/
