/* ==========================================================================
   Forms
   ========================================================================== */

/* General
   ========================================================================== */

.form--default {
    margin-top: 2rem;
}

.daterangepicker {
  @include date-range-picker();
}