@import "vendor/insiders/pagepart-carousel-bundle/Resources/ui/frontend/scss/carousel";

.carousel__title {
  max-height: 90px;
  overflow: hidden;
  @include breakpoint($tablet) {
    max-height: 110px;
  }
}

.carousel__subtitle {
  max-height: 80px;
  overflow: hidden;
  margin-bottom: $base-line-height;
  @include breakpoint($tablet) {
    max-height: 103px;
  }
}