/* ==========================================================================
   Headings
   ========================================================================== */

/* Shared
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 .8rem 0;

    font-family: $font-family--headings;
    line-height: 1.4;

    color: $brand-primary;
    font-weight: 700;

    + p, + .text-pp p {
        margin-top: 0;
    }
}


/* Specific
   ========================================================================== */

$headings: (
  h1: 40px,
  h2: 30px,
  h3: 24px,
  h4: 20px,
  h5: 17px,
  h6: 17px
);

@each $heading, $font-size in $headings {
  #{$heading} {
    font-size: $font-size * 0.8;
    @include breakpoint($mobile) {
      font-size: $font-size * 0.9;
    }
    @include breakpoint($tablet) {
      font-size: $font-size;
    }
  }
}

/*doc
---
title: Headings
name: 01_headings
category: Typography
---

```html_example
<h1>H1. Neque porro quisquam est qui.</h1>
<h2>H2. Neque porro quisquam est qui.</h2>
<h3>H3. Neque porro quisquam est qui.</h3>
<h4>H4. Neque porro quisquam est qui.</h4>
<h5>H5. Neque porro quisquam est qui.</h5>
<h6>H6. Neque porro quisquam est qui.</h6>
```
*/
