/* ==========================================================================
   Header - Language nav
   ========================================================================== */

header .container-fluid {
  padding-right: 80px;
}

/* Default
   ========================================================================== */
.language-nav {
  nav[role='navigation'] {display: none}
  &:hover {
    nav[role='navigation'] {display: block}
  }
  position: absolute;
  padding: 0 8px;
  right: 20px;
  bottom: 80px; /* Required for iOS */
  height: 32px;

  &:after {
    content: "";
    @include triangle((color: $white));
    right: -8px;
  }
  &:hover, &.language-nav--is-open {
    overflow: visible;
    nav[role='navigation'] {
      right: 0;
      left: 0;
      bottom: 32px;
      padding-left: 8px;
      position: absolute;
    }
  }

  @media(min-width: $screen-md-min) {
    z-index: 5;
    float: left;
    &:hover, &:focus {
      .language-nav__nav {
        z-index: 6;
        height: auto;
      }
    }
  }
  @media(min-width: $desktop - 1px) {
    top: 0;
    height: 32px + $base-line-height;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: -$base-line-height;
    &:after {
//      @include triangle((color: $darkgrey));
      right: -8px;
      top: 13px;
      margin-top: 0;
    }
    &:hover:after {
      margin-top: -5px;
      top: 18px;
    }
    &:hover, &.language-nav--is-open {
      background: $white;
      z-index: 10;
      nav[role='navigation'] {
        background: $white;
        top: 32px;
        bottom: auto;
      }
      &:after {
        border-color: transparent;
      }
    }
    .separator {
      z-index: 100;
      height: 20px;
      width: 1px;
      position: absolute;
      left: -7px;
      top: 8px;
//      background-color: $darkgrey;
    }
  }
}

/* Icon
   ========================================================================== */
.language-nav__icon {
  display: none;

  @media(min-width: $screen-md-min) {
    display: inline-block;
    margin-left: .1rem;
    font-size: .3rem;
    line-height: 1rem;
    vertical-align: middle;
  }
}

/* Navigation
   ========================================================================== */
.language-nav__nav {
  padding: 0 0 0 1em;

  @media(min-width: $screen-md-min) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: box-shadow .15s ease;
  }
}

/* Navigation Item
   ========================================================================== */
.language-nav__item {
  display: inline-block;
  float: left;
  clear: both;
  width: 32px;
  height: 24px;
  cursor: pointer;
  border: 1px solid $white;
  margin: 4px 0;
  .language-nav__text {
    display: none;
  }
  $languages: (be, de, en, fr, it, nl, cn);
  @each $language in $languages {
    &.language-nav__item--#{$language} {
      background-image: url(../img/flags/#{$language}.png);
      background-size: cover;
      background-position: center;
    }
  }
}

/* Active lang
   ========================================================================== */
.language-nav__active-lang {

}