/* ==========================================================================
   Header - Main header
   ========================================================================== */

header {
    background-color: $brand-primary;
    z-index: 30;
    position: relative;
    padding-top: 0px;
    padding-bottom: 15px;
    height: 74px;
    @media(min-width: $screen-xs) {
        padding-bottom: 0px;
    }
    @if ($site-fullscreen == false) {
      max-width: $site-max-width + ((($container-padding-desktop / 100) * $site-max-width) * 2);
      margin: 0 auto;
    }
}

.main-header__logo {
  position: absolute;
  display: inline-block;
  float: left;
  background: url("/frontend/img/general/logo-white@2x.png") left top no-repeat;
  max-width: 100%;
  width: 230px;
  height: 35px;
  background-size: 100% auto;
  margin-top: 20px;
  img { display: none; }
}

.handles {
    @include reset-ul(true);
    display: inline;
    .handles__item {
        display: inline-block;
        position: relative;
        z-index: 10;
    }
    .handles__link {
        color: $brand-on-primary;
        font-size: 20px;
        text-decoration: none;
    }

    $handle-icons: ("search": "magnifyglass", "navigation-open": "menu", "navigation-close": "close-large");
    $handle-show-label: ("search": true, "navigation-open": true, "navigation-close": true);
    @each $handle, $icon in $handle-icons {
        .handles__item--#{$handle} {
            i { @extend .icon-ui-fill-#{$icon}; }
            @if (map-get($handle-show-label, $handle) == true) {
                text-align: center;
                .handles__link {
                    display: inline-block;
                    height: 100%;
                    color: $brand-on-primary;
                    line-height: 1;
                }
                .handles__name {
                  display: block;
                  text-transform: uppercase;
                  font-size: 12px;
                  padding: 7px 15px 0px 15px;
                }
            } @else {
                .handles__name {
                  display: none;
                }
            }
        }
  }

  .handles__item--search {
    position: relative;
    float: right;
    color: $brand-on-primary;
    padding-left: 24px;

    .handles__icon {
      &:before {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }

    .handles__link {
      padding-top: 20px;
      @include breakpoint($tablet) {
        margin-right: 10px;
      }
      @include breakpoint($desktop) {
        padding-top: 26px;
        margin-right: 0;
      }
      .handles__name {
        display: block;
        @include breakpoint($desktop) {
          display: none;
        }
      }
    }
    @media(min-width: $screen-xs) {
      height: 74px;
      top: 0px;
    }
  }

  @media(min-width: $desktop) {
      .handles__item--navigation-open, .handles__item--navigation-close {
          display: none;
      }
  }

  .handles__item--navigation-open {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 74px;
      background-color: $brand-primary;
      color: $brand-on-primary;
      .handles__link {
          padding-top: 20px;
      }
      @media(min-width: $screen-xs) {
          height: 74px;
          top: 0px;
      }
  }

  .handles__item--navigation-close {
      display: block;
      position: fixed;
      right: 0px;
      top: 20px;
      .handles__link { color: $brand-on-primary; }
  }
}

@media(max-width: $desktop - 1px) {
    .navigation-is-closed .handles__item--navigation-close { display: none; }
    .navigation-is-open .handles__item--navigation-open { display: none; }
    // prevent showing social-nav and language-nav in header on load
    .social-nav, .language-nav {
        display: none;
    }
    .main-header__nav {
        .social-nav, .language-nav {
          display: block;
        }
    }
}