/* ==========================================================================
   Header - Main navigation
   ========================================================================== */

/* Default
   ========================================================================== */

$main-nav-properties: (

        menu-selector:    '.menu',
        align:            right,
        margin:           0px,

        link-padding:     5px 10px,
        link-font-weight: bold,
        link-color:       map-get($color-quinary, 'light'),
        link-background:  transparent,
        link-hover-color: $brand-primary,
        link-hover-bg:    map-get($color-quinary, 'light'),

        children-selector:      '.menu__children',
        children-block-top:             74px,
        children-block-top-padding:     12px,
        children-block-bottom-padding:  12px,
        children-padding:       8px 13px 8px 13px,
        children-bg:            map-get($color-quinary, 'light'),
        children-color:         $brand-primary,
        children-decoration:    none,
        children-hover-bg:      map-get($color-quinary, 'light'),
        children-hover-color:   $brand-primary,
        children-hover-decoration: none,
        children-font-size:     $base-font-size,
        children-line-height:   22px,
        children-max-width:     160px,
        children-box-shadow:    0px 2px 2px rgba($brand-primary, .7),

        mobile-menu-breakpoint: $desktop,
        mobile-menu-background: $brand-quaternary,
        mobile-menu-box-shadow: 0px 6px 5px rgba($brand-primary, .7),
        mobile-menu-width:      200px,
        mobile-menu-padding:    80px 20px 20px 20px,
        mobile-menu-link-color: map-get($color-quinary, 'light'),
        mobile-menu-link-font-weight:       bold,
        mobile-menu-link-hover-color:       map-get($color-quinary, 'light'),
        mobile-menu-link-decoration:        none,
        mobile-menu-link-hover-decoration:  underline

);

.main-nav {

  #{map-deep-get($main-nav-properties, menu-selector)} {
      @include reset-ul(true);
  }
  li {
      display: inline-block;
  }
  a {
      text-decoration: none;
  }

  @media(max-width: $site-min-width) {
      &.is-open {
          position: absolute;
          width: $site-min-width;
          height: 100vh;
          top: 0px;
          right: 0px;
      }
  }

  @include breakpoint(0px, map-deep-get($main-nav-properties, mobile-menu-breakpoint) - 1px) {
      @include transition(all .5s);
      position: fixed;
      right: - ((map-deep-get($main-nav-properties, mobile-menu-width) + 20px));
      &.is-open { right: 0px; }
      top: 0px;
      height: 100vh;
      width: map-deep-get($main-nav-properties, mobile-menu-width);
      padding: map-deep-get($main-nav-properties, mobile-menu-padding);
      background: map-deep-get($main-nav-properties, mobile-menu-background);
      box-shadow: map-deep-get($main-nav-properties, mobile-menu-box-shadow);
      color: map-deep-get($main-nav-properties, mobile-menu-link-color);
      a {
          color: map-deep-get($main-nav-properties, mobile-menu-link-color);
          text-decoration: map-deep-get($main-nav-properties, mobile-menu-link-decoration);
          &:hover {
              color: map-deep-get($main-nav-properties, mobile-menu-link-hover-color);
              text-decoration: map-deep-get($main-nav-properties, mobile-menu-link-hover-decoration);
          }
      }
      li {
          display: block;
      }
      #{map-deep-get($main-nav-properties, menu-selector)} {
          > li {
              > a {
                  font-weight: map-deep-get($main-nav-properties, mobile-menu-link-font-weight);
              }
          }
      }
  }

  @include breakpoint(map-deep-get($main-nav-properties, mobile-menu-breakpoint)) {
      #{map-deep-get($main-nav-properties, menu-selector)} {
          @if (map-deep-get($main-nav-properties, margin) != false) {
              margin: map-deep-get($main-nav-properties, margin);
          }
          @if (map-deep-get($main-nav-properties, align) != false) {
              float: map-deep-get($main-nav-properties, align);
          }
          height: 74px;
          > li {
              position: relative;
              height: 74px;
              padding-top: 16px;
              > a {
                display: inline-block;
                padding: map-deep-get($main-nav-properties, link-padding);
                color: map-deep-get($main-nav-properties, link-color);
                font-weight: map-deep-get($main-nav-properties, link-font-weight);
                height: 42px;
                border-radius: 5px;
                line-height: 32px;
                &.main-nav__link--has-children {
                  padding-right: 20px !important;
                  &:after {
                    content: "";
                    @include triangle((color: $white));
                  }
                }

                &.main-nav__link--active {
                  background-color: map-deep-get($main-nav-properties, link-hover-bg);
                  color: map-deep-get($main-nav-properties, link-hover-color);
                  &:after {
                    @include triangle((color: $brand-primary));
                  }
                }
              }
              &:hover {
                background-color: map-deep-get($main-nav-properties, link-hover-bg);
                a {
                  background-color: map-deep-get($main-nav-properties, link-hover-bg);
                  color: map-deep-get($main-nav-properties, link-hover-color);
                }
                a.main-nav__link--has-children:after, a.main-nav__link--has-children:focus:after {
                  @include triangle((color: $brand-primary));
                }
              }
              @if (map-deep-get($main-nav-properties, children-selector) != false) {
                  #{map-deep-get($main-nav-properties, children-selector)} {
                      margin: 0px;
                      padding: 0px;
                      display: none;
                      width: map-deep-get($main-nav-properties, children-max-width);
                  }
                  &:hover #{map-deep-get($main-nav-properties, children-selector)} {
                      display: block;
                      position: absolute;
                      left: 0px;
                      top: map-deep-get($main-nav-properties, children-block-top);
                      box-shadow: map-deep-get($main-nav-properties, children-box-shadow);
                      a {
                          color: map-deep-get($main-nav-properties, children-color);
                          background-color: map-deep-get($main-nav-properties, children-bg);
                          padding: map-deep-get($main-nav-properties, children-padding);
                          font-size: map-deep-get($main-nav-properties, children-font-size);
                          width: map-deep-get($main-nav-properties, children-max-width);
                          display: inline-block;
                          text-decoration: map-deep-get($main-nav-properties, children-decoration);
                          line-height: map-deep-get($main-nav-properties, children-line-height);
                          &:hover {
                              text-decoration: map-deep-get($main-nav-properties, children-hover-decoration);
                              background: map-deep-get($main-nav-properties, children-hover-bg);
                              color: map-deep-get($main-nav-properties, children-hover-color);
                          }
                      }
                      > li:first-child a {
                          padding-top: map-deep-get($main-nav-properties, children-block-top-padding);
                      }
                      > li:last-child a {
                          padding-bottom: map-deep-get($main-nav-properties, children-block-bottom-padding);
                      }
                  }
                  &:last-child:hover #{map-deep-get($main-nav-properties, children-selector)} {
                      left: auto;
                      right: 0px;
                  }
              }
          }
      }
  }
}

/* Mobile
   ========================================================================== */
// .main-nav--mobile {
//     background: #313131;
//
//     @media(min-width: $screen-md-min) {
//         display: none;
//     }
// }

/* Desktop
   ========================================================================== */
// .main-nav--desktop {

// }
