.social-nav {
    @include reset-ul();
    float: right;
    ul { height: 30px; }
    .social-nav__item {
        display: inline-block;
        margin-right: 3px;
        height: 30px;
    }
    .social-nav__link {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background: rgba($brand-on-primary, .8);
        color: $brand-primary;
        text-align: center;
        position: relative;
        &:hover {
            background: $white;
            color: $brand-quaternary;
        }
    }
    .social-nav__name {
        display: none;
    }
    .social-nav__icon {
        display: inline-block;
        font-size: 20px;
        position: absolute;
        left: 5px;
        top: -3px;
        color: $brand-primary;
    }

    $social-networks: (facebook, youtube, twitter, pinterest);
    @each $social-network in $social-networks {
        .social-nav__item--#{$social-network} i { @extend .icon-ui-fill-#{$social-network}; }
    }
}
