/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file.
   ========================================================================== */

/* Colors
   ========================================================================== */

$black:                 #414142;
$white:                 #fff;
$grey:                  #bfbfbf;

$blue:                  #5cb8e6;
$red:                   #ff4600;
$purple:                #584167;
$orange:                #d28643;

/* Brand specific colors
   ========================================================================== */
// Put your brand-specific colors here

/* Website specific colors
   ========================================================================== */

$color-primary:          ('light': #dbd3e2, 'normal': #584167, 'dark': #372544); // Purple
$color-secondary:        ('light': #e8e4ed, 'normal': #9c8cb1, 'dark': #86749d); // Light purple
$color-tertiary:         ('light': #f28423, 'normal': #d28643, 'dark': #b07037); // Orange
$color-quaternary:       ('light': #909090, 'normal': #414142, 'dark': #000000); // Dark gray
$color-quinary:          ('light': #ffffff, 'normal': #efefef, 'dark': #cdcdcd); // White

/* Brand colors (can be used globally)
   ========================================================================== */

$brand-primary:             map_get($color-primary, 'normal');
$brand-primary-hover:       map_get($color-primary, 'light');
$brand-on-primary:          map_get($color-quinary, 'light');
$brand-on-primary-hover:    map_get($color-quinary, 'dark');

$brand-secondary:           map_get($color-secondary, 'normal');
$brand-secondary-hover:     map_get($color-secondary, 'normal');
$brand-on-secondary:        map_get($color-quinary, 'light');
$brand-on-secondary-hover:  map_get($color-quinary, 'light');

$brand-tertiary:            map_get($color-tertiary, 'normal');
$brand-tertiary-hover:      map_get($color-tertiary, 'dark');
$brand-on-tertiary:         map_get($color-quinary, 'light');
$brand-on-tertiary-hover:   map_get($color-quinary, 'light');

$brand-quaternary:          map_get($color-quaternary, 'normal');
$brand-quaternary-hover:    map_get($color-quaternary, 'dark');
$brand-on-quaternary:       map_get($color-quinary, 'light');
$brand-on-quaternary-hover: map_get($color-quinary, 'normal');

$brand-quinary:             map_get($color-quinary, 'dark');
$brand-quinary-hover:       map_get($color-quinary, 'dark');
$brand-on-quinary:          map_get($color-quinary, 'light');
$brand-on-quinary-hover:    map_get($color-quinary, 'light');

/* Specifics
   ========================================================================== */

$text-color:            $black;
$hr-color:              $grey;
$link-color:            $brand-primary;
$link-color--hover:     darken($link-color, 15%);

$theme-color:           $grey;
$theme-color--dark:     $grey;
$main-background-color: $white;

/*doc
---
title: Colors
name: 01_colors
category: General
---

<strong>Brand colors</strong>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #574167;'></i><code class='styleguide__code'>#574167 - $purple / $brand-primary</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #fff;'></i><code class='styleguide__code'>#fff - $white / $brand-on-primary</code></code></div><br>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #d28643;'></i><code class='styleguide__code'>#d28643 - $orange / $brand-secondary</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #fff;'></i><code class='styleguide__code'>#fff - $white / $brand-on-secondary</code></code></div><br>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #bfbfbf;'></i><code class='styleguide__code'>#bfbfbf - $grey / $brand-tertiary</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #000;'></i><code class='styleguide__code'>#000 - $black / $brand-on-tertiary</code></code></div><br>
<br>
<strong>Primary colors</strong>

<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #584167;'></i><code class='styleguide__code'>#584167 - $primary-colors(0)</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #9c8cb1;'></i><code class='styleguide__code'>#9c8cb1 - $primary-colors(1)</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #d28643;'></i><code class='styleguide__code'>#d28643 - $primary-colors(2)</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #414142;'></i><code class='styleguide__code'>#414142 - $primary-colors(3)</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #ffffff;'></i><code class='styleguide__code'>#ffffff - $primary-colors(4)</code></code></div>

<strong>Secondary colors</strong>

<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #372544;'></i><code class='styleguide__code'>#372544 - $secondary-colors(0)</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #86749d;'></i><code class='styleguide__code'>#86749d - $secondary-colors(1)</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #dbd3e2;'></i><code class='styleguide__code'>#dbd3e2 - $secondary-colors(2)</code></code></div>
<div class='styleguide__color-template'><i class='styleguide__color-template__example' style='background: #e8e4ed;'></i><code class='styleguide__code'>#e8e4ed - $secondary-colors(3)</code></code></div>
*/