/* ==========================================================================
   Sizes

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */


/* Margins
   ========================================================================== */
$default-margin: 1.5rem;

/* Container paddings
   ========================================================================== */
$container-padding-mobile:  5; // in percentages
$container-padding-tablet:  4; // in percentages
$container-padding-desktop: 3; // in percentages

/* Minimum and maximum widths
   ========================================================================== */
$site-max-width:            1268px; // Based on optimization for 1366 resolution, including padding of 3% and scrollbar width.
$inner-container-width:     $site-max-width;
$site-min-width:            290px;
$site-fullscreen:           true;

/*doc
---
title: Sizes
name: 02_sizes
category: General
---

<strong>Website Width</strong><br />
By default all Citynavigator websites are divided into rows: header, pageparts and footer. All of these rows have a maximum width for their content. This width can be set through <em>$site-max-width</em> in config > general > sizes.
<br />It is possible to let the header and footer color stretch to the full viewport width, while their content stays limited to the site-max-width. To do this, set <em>$site-fullscreen</em> to true in config > general > sizes.

<strong>Website padding</strong><br />
Outside of this $site-max-width, there should always be an amount of space between the (textual) content and the sides of the viewport ($container-padding-[device]). This is to keep the content from getting too close to the sides of the viewport. The space can be different for desktop, tablet and mobile and can be set in config > general > sizes.

<strong>Important: $site-max-width = maximum site width <strong>plus</strong> desktop padding</strong><br />
For example, in the default settings we want the website to start becoming fluid on monitors smaller than 1366 px (common desktop size). In order to achieve this, we set the $site-max-width to 1268px. The padding on desktop is set to 3, which means there will be a 3% padding on each side. 1366 / 1,06 = 1288 minus 20px for scrollbars = 1268px.

<strong>Pagepart Width</strong><br />
By default, each pagepart should arrange it's own padding. It is preferred that columns with images do not have padding, while columns with text should always have padding.
*/