/* ==========================================================================
   Base
   ========================================================================== */

/* Box model
   ========================================================================== */
* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}


/* Html & body
   ========================================================================== */
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  background-color: $brand-quinary;
  min-height: 100%;
  min-width: 320px;
}

.viewport-width {
  &.outer-container {
    width: 100%;
    .inner-container {
      @include site-max-width-container;
    }
  }
}

.container-width {
  &.outer-container {
    @include site-max-width-container((inner-padding: false));
    .inner-container {
      width: 100%;
    }
  }
}

.viewport-height {
  .item {
    height: 100vh;
  }
}

.container-fluid {
  @include site-max-width-container;
}

.wysiwyg-content {
  overflow: hidden;
}

main {
  min-height: 300px;
  overflow: hidden;
  background-color: $main-background-color;
  @if ($site-fullscreen == false) {
    max-width: $site-max-width + ((($container-padding-desktop / 100) * $site-max-width) * 2);
    margin: 0 auto;
  }
  .text-pp {
    margin-left: auto;
    margin-right: auto;
  }
}

.styleguide__color-template {
  .styleguide__code {
    line-height: 43px;
    margin-left: 10px;
  }
  .styleguide__color-template__example {
    float: left;
  }
}

.styleguide__dl {
  dt { font-weight: bold; }
}

.container-error-container {
  padding: 3%;
}

.pagepart_wrapper {
  clear: both;
}


/*doc
---
title: Naming conventions
name: 04_naming
category: General
---
For classnames, BEM naming conventions are preferred: block element modifier. Examples:<br />
```html_example
<div class="tile">
  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" class="tile__image tile__image--full-height" />
</div>
```
*/