@media(min-width: $grid-float-breakpoint) {
  .main-nav__link--has-children {
    padding-right: 20px !important;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 3px 0 3px;
      border-color: #8b8877 transparent transparent transparent;
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -4px;
    }
  }
}
