/* ==========================================================================
   Bodycopy

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Line-height
   ========================================================================== */
$line-height--base:     2;

$line-height--small:    1.1;
$line-height--medium:   1.2;


/* Font sizes
   ========================================================================== */
$font-size--base:               91%;
$font-size--small:              .75rem;
$font-size--big:                1.125rem;

$base-line-height: 26px;
$base-font-size:   13px;
