/* ==========================================================================
   Fonts

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Webfonts
   ========================================================================== */
$primary-font: "Open Sans", Arial, sans-serif;
$secondary-font: "Times New Roman", serif;


/* Iconfonts
   ========================================================================== */
$iconfont-name: "glyphicon";
$icon-font-path: "#{$root}/fonts/";


/* Defaults
   ========================================================================== */
$font-family--base:         $primary-font;
$font-family--headings:     $primary-font;
$font-family--buttons:      $primary-font;
